<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Media Board</title>

    <link rel="stylesheet" type="text/css" href="/css/tailwind_gen.css">
</head>
<body>

{% include "include/header.html" %}

<div class="">
    {% include "include/sidebar.html" %}

    <div class="ml-60">
        {% if parent %}
        <a href="/?id={{parent}}">Back to parent</a><br><br>
        {% endif %}

        {% include "include/paging.html" %}


        <div {% if view != "series" %}class="grid lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-5 gap-2" {% else %} class="grid grid-cols-none gap-2" {% endif %}>

            {% for item in items %}
            {% if item.file_type != "text" %}
            <div class="" id="dir_{{loop.index}}" tabindex="{{loop.index}}">
                <a href="/?id={{item.id}}">
                    {% if item.file_type != "folder" %}
                        {% if view == "series" or raw == 1 %}
                            {% if item.file_type == "image" %}
                                <img class="rounded rounded-lg border" src="/img/{{item.path}}" width="100%">
                            {% else %}
                                <video class="item" muted controls loop {% if item.file_type == "video/short" %}autoplay{% endif %}>
                                    <source src="/img/{{item.path}}">
                                </video>
                            {% endif %}
                        {% else %}
                            <img class="rounded rounded-lg border {{item.file_type}}" src="/img/thumbnail/{{item.path}}.jpg" width="100%">
                        {% endif %}
                    {% else %}
                        <img class="rounded rounded-lg border folder" src="/img/thumbnail/{{item.path}}.jpg" width="100%">
                    {% endif %}
                    <p class="">{{item.name}}</p>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        {% include "include/paging.html" %}
        <br>
        {% if item_id > 0 %}
        {% include "include/edit.html" %}
        {% endif %}
    </div>
</div>

</body>
</html>