<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Board</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>

{% include "header.html" %}

<div class="page-container">
    {% include "sidebar.html" %}

    <div class="main">
        {% include "paging.html" %}


        <div {% if view != "series" %}class="post-container" {% endif %}>

            {% for item in items %}
            {% if item.file_type != "text" %}
            <div class="post post-item" id="dir_{{loop.index}}" tabindex="{{loop.index}}">
                <a href="/?id={{item.id}}">
                    {% if item.file_type != "folder" %}
                        {% if view == "series" %}
                            {% if item.file_type == "image" %}
                                <img class="item" src="/img/{{item.path}}" width="100%">
                            {% else %}
                                <video class="item" muted controls loop>
                                    <source src="/img/{{item.path}}">
                                </video>
                            {% endif %}
                        {% else %}
                            <img class="item {{item.file_type}}" src="/img/thumbnail/{{item.path}}.jpg" width="100%">
                        {% endif %}
                    {% else %}
                        <img class="item folder" src="/img/thumbnail/{{item.path}}.jpg" width="100%">
                    {% endif %}
                    {{item.name}}
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        {% include "paging.html" %}
        <br>
        {% if item_id > 0 %}
        {% include "edit.html" %}
        {% endif %}
    </div>
</div>

</body>
</html>