{% if pages.total > 1 %}
<div class="pagination">
    {% if pages.cur > 1 %}
    <a href="?{{old_query}}">&lt;&lt;</a>
    <a href="?page={{pages.cur - 1}}&{{old_query}}">&lt;</a>
    {% endif %}

    {% if pages.cur > 3 %}
    ...
    {% endif %}

    {% if pages.cur > 2 %}
    <a href="?page={{pages.cur-2}}&{{old_query}}">{{pages.cur-2}}</a>
    {% endif %}

    {% if pages.cur > 1 %}
    <a href="?page={{pages.cur-1}}&{{old_query}}">{{pages.cur-1}}</a>
    {% endif %}

    <a class="active" href="?page={{pages.cur}}&{{old_query}}">{{pages.cur}}</a>

    {% if pages.cur < pages.total %}
    <a href="?page={{pages.cur+1}}&{{old_query}}">{{pages.cur+1}}</a>
    {% endif %}

    {% if pages.cur < pages.total - 1 %}
    <a href="?page={{pages.cur+2}}&{{old_query}}">{{pages.cur+2}}</a>
    {% endif %}

    {% if pages.cur < pages.total - 2 %}
    ...
    {% endif %}

    {% if pages.cur < pages.total %}
    <a href="?page={{pages.cur + 1}}&{{old_query}}">&gt;</a>
    <a href="?page={{pages.total}}&{{old_query}}">&gt;&gt;</a>
    {% endif %}
</div>
{% endif %}