<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Board - {{item.name}}</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>

{% include "header.html" %}

<div class="page-container">
    {% include "sidebar.html" %}

    <div class="main">
        <a href="/?id={{item.parent}}">Back to parent</a><br><br>
        <div class="post">
            {% if item.file_type == "image" %}
            <img class="item" src="/img/{{item.path}}">
            {% elif item.file_type == "video" %}
            <video class="item" muted controls loop>
                <source src="/img/{{item.path}}">
            </video>
            {% elif item.file_type == "video/short" %}
            <video class="item" muted controls autoplay loop>
                <source src="/img/{{item.path}}">
            </video>
            {% endif %}
        </div>
        {% include "edit.html" %}
    </div>

</div>

</body>
</html>