<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Board - {{item.name}}</title>

    <link rel="stylesheet" type="text/css" href="/css/tailwind_gen.css">
</head>
<body>

{% include "include/header.html" %}

<div class="">
    {% include "include/sidebar.html" %}

    <div class="ml-60">
        <nav class="bg-gray-100 px-5 py-3 rounded-md w-full">
            <ol class="list-reset flex">
        <li><a href="/?id={{item.parent}}" class="text-blue-600 hover:text-blue-700">
            Back to parent</a></li>
            </ol>
        </nav>
        <div class="post">
            {% if item.file_type == "image" %}
            <img class="item" src="/img/{{item.path}}" style="max-width: 95%;">
            {% elif item.file_type == "video" %}
            <video class="item" muted controls loop style="max-width: 95%;">
                <source src="/img/{{item.path}}">
            </video>
            {% elif item.file_type == "video/short" %}
            <video class="item" muted controls autoplay loop style="max-width: 95%;">
                <source src="/img/{{item.path}}">
            </video>
            {% endif %}
        </div>
        {% include "include/edit.html" %}
    </div>

</div>

</body>
</html>