<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Board - {{item.name}}</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>

{% include "header.html" %}

<div class="page-container">
    <div class="sidenav">
        {% for tag in tags %}
        <a href="?tags={{tag}}">{{tag}}</a>
        {% endfor %}
    </div>

    <div class="main">
        <div class="post">
            {% if item.file_type == "image" %}
            <img class="item" src="/img/{{item.path}}">
            {% elif item.file_type == "video" %}
            <video class="item" muted controls>
                <source src="/img/{{item.path}}">
            </video>
            {% elif item.file_type == "video/short" %}
            <video class="item" muted controls autoplay loop>
                <source src="/img/{{item.path}}">
            </video>
            {% endif %}
        </div>
        {% include "edit.html" %}
    </div>

</div>

</body>
</html>